# Prerequisites
*.d
*.json
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
buildx64/
Build32/
build/
CMakeFiles/
cmake-resources/
CMakeCache.txt
3rdParty/vma/
*.vs/
*.zip
*.rar
*.spv
*.refl
!*.exe
!*.py
build_android/
Assets/Interaction/state.json
UIBin/imgui.ini
UnitTest1/
Sample-Test1/
3rdParty/vulkan/
3rdParty/volk/
build64/
